In [1]:
# Importando o pandas
import pandas as pd

In [2]:
# Importando os dados do arquivo
df = pd.read_csv("houses_to_rent_v2.csv")

In [30]:
# Usando o Loc para selecionar os dados - Selecionar as linhas
# df.loc[[1, 3, 4] ]
# df.loc[0:5]
# df.loc[0:10, "city"]
#df.loc[0:10,"city":"animal" ]
df.loc[0:10, ["city", "area", "animal" ]]

              city  area     animal
0        São Paulo    70      acept
1        São Paulo   320      acept
2     Porto Alegre    80      acept
3     Porto Alegre    51      acept
4        São Paulo    25  not acept
5        São Paulo   376      acept
6   Rio de Janeiro    72      acept
7        São Paulo   213      acept
8        São Paulo   152      acept
9   Rio de Janeiro    35      acept
10       São Paulo    26      acept

In [26]:
# Usando o iLoc - Não inclui a linha 4. Diferente do loc que é inclusivo - pega a linha x coluna
# df.iloc[2:4, 0:5] - linhas de 2 a 4 e colunas de 0 a 5 (não inclui a 5)
df.iloc[2:4, 0:5]

           city  area  rooms  bathroom  parking spaces
2  Porto Alegre    80      1         1               1
3  Porto Alegre    51      2         1               0

In [ ]:
df.head()