In [1]:
#Importando pandas e abrindo o arquivo
import pandas as pd
df= pd.read_csv("houses_to_rent_v2.csv")

In [3]:
# Usando items
#df[["city", "rooms", "bathroom"]].head()
df.filter(items = ["city", "rooms", "bathroom"]).head()

           city  rooms  bathroom
0     São Paulo      2         1
1     São Paulo      4         4
2  Porto Alegre      1         1
3  Porto Alegre      2         1
4     São Paulo      1         1

In [7]:
# Usando like
df.filter(like = "Alegre").head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [10]:
# Usando regex
df.filter(regex = ".leg").head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]